<div id="pageHome">
    <section class="grid-container">
        <div>
            <img src="/images/portrait.png" alt="Tess Levinson" id="portrait">
            <a href="/cv.pdf" class="btn btn-secondary">Download my CV</a>
        </div>
        <div class="grid-large">
            <h2>Hi, I'm Tess Levinson!</h2>
            <p>As a researcher and educator, I'm focused on how STEM learning can offer connection and empowerment for children, youth, and educators. I work with community-based organizations to create and evaluate contextually relevant coding and robotics programs for young children.</p>
            <p>I am a PhD Candidate in Applied Developmental and Educational Psychology with the <a href="https://sites.bc.edu/devtech">DevTech Research Group</a> at Boston College. My research includes partnerships with organizations including Horizons for Homeless Children in Boston, Middle East Entrepreneurs of Tomorrow (MEET) in Jerusalem, the Technion University in Israel, and the Varkey Foundation in Argentina.</p>
            <p>As a design-based researcher, my work includes early childhood and elementary curriculum design, teacher professional development, program evaluation, and qualitative and quantitative research. In addition to my research, I develop informal education and camp programs at the intersection of community issues and STEM practices. To learn more about my work, check out my <a href="/projects">past and ongoing projects</a></p>
        </div>
    </section>
</div>
