<div id="pageProjects">

    <section>
        <h2>CAL KIBO @ Horizons for Homeless Children</h2>
        <p>The CAL-KIBO @ Horizons for Homeless Children project has been a multi-year collaboration to develop and explore the impacts of a robotics program at a multilingual preschool for children experiencing homelessness. For my PhD work, I have been coordinating the project and researching the impact of the program on children and teachers.</p>
        <a href="https://horizonschildren.org/general/building-coding-creating-exploring-stem-with-kibo" target="_blank" class="btn btn-secondary">Read more about the project</a>
        <a href="/LevinsonBers2024.pdf" target="_blank" class="btn btn-secondary">Read the paper</a>
    </section>

    <section>
        <h2>Play, Academics, and Coding</h2>
        <p>My dissertation research focuses on kindergarten teachers' beliefs about play, formal academic learning, and school-readiness as the teachers implement a playful computer science curricula in the United States and Argentina. </p>
    </section>

    <section>
        <h2>MEET-KIBO</h2>
        <p>The MEET-KIBO program was a collaboration between the DevTech Research Group, Middle East Entrepreneurs of Tomorrow, and the International Jerusalem YMCA to explore how coding and robotics can serve as a bridge across ages, nationalities, and languages. For this project, we supported Israeli and Palestinian teenagers in designing and teaching a robotics program for a bilingual kindergarten classroom.</p>
        <a href="https://sites.bc.edu/devtech/research/coding-as-a-bridge" target="_blank" class="btn btn-secondary">Learn more about MEET-KIBO</a>
        <a href="/ICLS2024_698-705-2.pdf" target="_blank" class="btn btn-secondary">Read the paper</a>
    </section>

    <section>
        <h2>Early Childhood CS for Children with Disabilities</h2>
        <p>Individuals with disabilities are underrepresented in STEM and CS fields, but my research has explored how computer science and robotics can serve as an opportunity for success for children with disabilities. An example of this work is in my book chapter, co-authored with Dr. Ziva Hassenfeld at Brandeis and Libby Hunt.</p>
        <a href="/levinson-et-al-2021-including-students-with-disabilities-in-the-coding-classroom.pdf" target="_blank" class="btn btn-secondary">Read the chapter</a>
    </section>

    <section>
        <h2>CAL International</h2>
        <p>The Coding as Another Language curricula for ScratchJr and KIBO Robotics are play-based curricula for prekindergarten through second grade integrating computer science and literacy, and have been used and researched around the world. I was on the writing team for the curricula, and collaborated on international research and evaluations with The Technion in Israel and Varkey Foundation in Argentina. We presented on the CAL international collaborations at the International Society of the Learning Sciences conference in 2023, and you can read more about the collaborations in the proceedings here:</p>
        <a href="https://2023.isls.org/proceedings/" target="_blank" class="btn btn-secondary">Read the paper</a>
        <a href="https://sites.bc.edu/codingasanotherlanguage/" target="_blank" class="btn btn-secondary">Visit the CAL website</a>
    </section>

    <section>
        <h2>STEM + Social Justice Education</h2>
        <p>In addition to my research work, I develop informal education and camp programs at the intersection of community issues and STEM practices. This has included a two-week program on the connection between social justice and STEM for rising eleventh grade students at the URJ 6 Points Sci-Tech Academy, and a youth research program at the Religious Action Center for Reform Judaism.</p>
    </section>

</div>
