/* Entire page */
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Add padding to left of page */
header,
nav,
main,
footer {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* Reset some default values */
a {
    color: inherit !important;
    text-decoration: underline;
}

iframe {
    max-width: 100%;
    border: 0;
}

h1, h2, h3, h4 {
    font-weight: 600;
}


/* Header bar */
header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: #eee;
    color: #412234;
}

/* Logo at top left */
header img {
    height: 100px;
    margin-right: 20px;
}

/* Website heading */
header h2 {
    margin: 15px 0 0;
}
header h2 span {
    font-size: .5em;
    margin: 0;
}

/* Page menu to right of name heading */
nav {
    display: flex;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #412234;
    overflow-x: scroll;
}
nav #navbarMenu {
    justify-content: center;
}

/* Each clickable page item */
nav a {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    color: #fafafa !important;
    transition: background-color .5s;
    line-height: 50px;
    text-decoration: none;
    text-wrap: nowrap;
}

/* Lighten page link when hover */
nav a:hover {
    background: #7b5269;
}

/* Navbar toggler */
nav .navbar-toggler {
    margin: 10px;
}


/* Page content wrapper */
main {
    padding: 20px 10vw 8rem 10vw !important;
}


/* Flex column layout */
.flex-container {
    display: flex;
}
.flex-container>* {
    flex: 1;
    margin: 10px;
}
.flex-container>.flex-large {
    flex: 2 0;
}

/* Grid column layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-container>.grid-large {
    display: inline;
    grid-column-end: span 2;
}


/* Footer at bottom */
footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    background: #7b5269;
    color: #fff;
    text-align: center;
}

/* Copyright */
footer p {
    margin: 0;
    line-height: 30px;
}

/* Socials icons */
footer div {
    flex: 1;
    text-align: right;
}
footer .fa-brands {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}


/* Page styles */
.btn.btn-secondary {
    color: #fff !important;
    text-decoration: none;
}

#pageHome #portrait {
    max-width: 100%;
    max-height: 100%;
}

#pageHome .btn {
    width: 100%;
    margin: 10px 0;
}

#pagePubs ul {
    font-family: 'Times New Roman';
}

#pagePubs li {
    margin-bottom: 5pt;
}

#pageProjects section {
    border: 8px #7b5269 solid;
    border-radius: 20px;;
    margin: 10px 0;
    padding: 20px;
}

#pageContact .fail {
    color: red;
}

#pageContact textarea {
    height: 150px;
}


/* Smaller padding for smaller screens */
@media screen and (max-width: 500px) {
    header,
    nav,
    main,
    footer {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
